<launch>
  
  <!--  ***************** Simulation *****************  -->
	<!-- <env name="GAZEBO_RESOURCE_PATH" value="$(env HOME)/.gazebo" /> -->
	<!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
	<include file="$(find tbot_gazebo)/launch/start_world.launch">
		<arg name="world_file" value="$(find larm)/models/challenge-1.world" />
	</include>

    <include file="$(find tbot_gazebo)/launch/spawn_tbot.launch">
	    <arg name="x" value="-3.32" />
	    <arg name="y" value="-2.95" />
	    <arg name="yaw" value="2.86" />
    </include>

    <param name="/use_sim_time" value="true"/>
    
  <!--  ************** Navigation  ***************  -->
  <node pkg="grp-vert" type="dodge_for_sim.py" name="py_script">
  </node>

<!--  ***************** Mapping *****************  -->
  <node pkg="gmapping" type="slam_gmapping" name="mapping_node" args="scan:=scan">
  </node>
  
  <!--  **************** Visualisation ****************  -->
  <node pkg="rqt_graph" type="rqt_graph" name="graph">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-vert)/launch/challenge2/rviz_config_mapping.rviz">
  </node> 
</launch>
