<launch>

  <!-- Bringup the robot -->
  <include file="$(find tbot_bringup)/launch/start.launch">
  </include>
  
  <!--  ***************** Laser *****************  -->
  <node pkg="urg_node" type="urg_node" name="laser_scanner">
  </node>
  
  <!--  ***************** Mapping *****************  -->
  <node pkg="gmapping" type="slam_gmapping" name="mapping_node" args="scan:=scan">
  </node>

  <!--  **************** Visualisation ****************  -->
  <!-- <node pkg="rqt_graph" type="rqt_graph" name="graph"> </node> -->
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-vert)/challenge3/launch/challenge3.rviz">
  </node> 

    <!-- Navigation using MoveBase -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find grp-vert)/challenge3/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find grp-vert)/challenge3/param/costmap_common_params.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find grp-vert)/challenge3/param/local_costmap_params.yaml" command="load" />   
    <rosparam file="$(find grp-vert)/challenge3/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find grp-vert)/challenge3/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find grp-vert)/challenge3/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find grp-vert)/challenge3/param/global_planner_params.yaml" command="load" />
    <rosparam file="$(find grp-vert)/challenge3/param/navfn_global_planner_params.yaml" command="load" />
  </node> 

  <!--  ***************** Python Scripts *****************  -->
  <node pkg="grp-vert" type="modelTest3.py" name="modelTest">
  </node>
  
</launch>
