<launch>

  <arg name="world_file"     default="/opt/ros/noetic/share/stage_ros/world/willow-erratic.world"/>

  <param name="/use_sim_time" value="true"/>
  
  <!--  ***************** World Model *****************  -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
  </node>

  <!--  ***************** Robot Model *****************  -->


  <!--  ************** Navigation  ***************  -->
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="turtlebot_teleop_keyboard/cmd_vel" to="cmd_vel"/>
  </node>

  <!--  **************** Visualisation ****************  -->
  <node pkg="rqt_graph" type="rqt_graph" name="graph">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_stage)/rviz/robot_navigation.rviz">
  </node>
</launch>
