<launch>

  <!-- <param name="/use_sim_time" value="true"/> -->

  <!--  ***************** Mapping *****************  -->
  <node pkg="gmapping" type="slam_gmapping" name="mapping_node" args="scan:=scan">
  </node>
  
  <node pkg="rosbag" type="play" name="player" args="--clock /home/elias.anton/catkin-ws/src/turtlebot_dia.bag">
  </node>

  <!--  **************** Visualisation ****************  -->
  <node pkg="rqt_graph" type="rqt_graph" name="graph">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mapping)/launch/rviz_config_mapping.rviz">
  </node> 
</launch>
