<launch>

  <param name="/use_sim_time" value="true"/>
  
  <!--  ***************** World Model *****************  -->
  <include file="$(find larm)/launch/challenge-3.launch">
    </include>

  <!--  ***************** Mapping *****************  -->
  <node pkg="gmapping" type="slam_gmapping" name="mapping_node" args="scan:=scan">
  </node>

  <!--  ************** Navigation  ***************  -->
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="turtlebot_teleop_keyboard/cmd_vel" to="cmd_vel"/>
  </node>

  <!--  **************** Visualisation ****************  -->
  <node pkg="rqt_graph" type="rqt_graph" name="graph">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mapping)/launch/rviz_config_mapping.rviz">
  </node> 
</launch>
