<launch>
  
  <!--  ***************** Simulation *****************  -->
	<arg name="world_file"     default="/opt/ros/noetic/share/stage_ros/world/willow-erratic.world"/>

  <param name="/use_sim_time" value="true"/>
  
  <!--  ***************** World Model *****************  -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
  </node>

  <!--  ************** Navigation  ***************  -->
  <node pkg="grp-vert" type="dodge_for_sim2.py" name="py_script">
  </node>

<!--  ***************** Mapping *****************  -->
  <node pkg="gmapping" type="slam_gmapping" name="mapping_node" args="scan:=base_scan">
  </node>


  <!--  **************** Visualisation ****************  -->
  <node pkg="rqt_graph" type="rqt_graph" name="graph">
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find grp-vert)/launch/challenge2/rviz_config_mapping.rviz">
  </node> 
</launch>
